# התעלם מהכל
*

# אל תתעלם מקובץ ה־gitignore עצמו
!.gitignore

# אל תתעלם מתיקיית Assets
!Assets/

# אל תתעלם מתיקיית Scripts שבתוך Assets
!Assets/Scripts/
!Assets/Scripts/**

# אל תתעלם מתיקיית scripts שבתוך Assets (lowercase)
!Assets/scripts/
!Assets/scripts/**

# התעלם מקבצי meta
*.meta
