# התעלם מהכל
*

# אל תתעלם מקובץ ה־gitignore עצמו
!.gitignore

# אל תתעלם מתיקיית Assets
!Assets/

# אל תתעלם מתיקיית Scripts שבתוך Assets
!Assets/Scripts/
!Assets/Scripts/**
!Assets/scripts/
!Assets/scripts/**

# אל תתעלם מתיקיית Plugins שבתוך Assets
!Assets/Plugins/
!Assets/Plugins/**

# התעלם מקבצי meta
*.meta
