# התעלם מהכל
*

# אל תתעלם מקובץ ה־gitignore עצמו
!.gitignore

# אל תתעלם מתיקיית Assets
!Assets/

# אל תתעלם מתיקיית Scripts שבתוך Assets
!Assets/Scripts/
!Assets/Scripts/**

# אל תתעלם מקבצי Markdown בשורש
!*.md

# התעלם מקבצי meta
*.meta
